/* ----------------- general styling ---------------------- */

@font-face {
    font-family: 'MetropolisBold';
    src: local('MetropolisBold'), url("./fonts/Metropolis_Font_family/Metropolis-Bold.otf") format('truetype');
  }
  
  @font-face {
    font-family: 'MetropolisLight';
    src: local('MetropolisLight'), url("./fonts/Metropolis_Font_family/Metropolis-Light.otf") format('truetype');
  }
  
  @font-face {
    font-family: 'MetropolisExtraLight';
    src: local('MetropolisExtraLight'), url("./fonts/Metropolis_Font_family/Metropolis-Thin.otf") format('truetype');
  }
  @font-face {
    font-family: 'MetropolisSemiBold';
    src: local('MetropolisSemiBold'), url("./fonts/Metropolis_Font_family/Metropolis-SemiBold.otf") format('truetype');
  }
  
  @font-face {
    font-family: 'MetropolisRegular';
    src: local('MetropolisRegular'), url("./fonts/Metropolis_Font_family/Metropolis-Regular.otf") format('truetype');
  }
body{
    margin: 0rem;
    padding: 0rem;
    font-family: MetropolisLight;
    background-color: #362d27;
}

/* ------------------- Nav ------------------ */
.navbar{
    min-height: 6rem;
    background: #1c0f00;
}
.navbar, .nav-link{
    color: white;
    font-family: MetropolisSemiBold;
}
.navbar-brand{
    font-family: MetropolisBold;
    color: white;
}
.navIcons span:hover{
    cursor: pointer;
}

/* ------------------- buttons ------------------ */
.orderBtn{
    color: white;
    border: none;
    outline: none;
    font-family: MetropolisSemiBold;
    padding: .6rem 1.7rem;
    background-color: #ce6d06;
    border-radius: 2rem;
}

/* ------------------- home ------------------ */
.mainHeroSection{
    min-height: 90vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("./images/images(3).jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding:  5rem;
    padding-top: 15rem;
    background-color: #362d27;
}

.heroText{
    max-width: 50rem;
}

.primaryText{
    font-family: MetropolisBold;
    font-weight: 900;
    font-size: 2.8rem;
    color: white;
    line-height: 2rem;
}
.secondryText{
    font-family: MetropolisExtraLight;
    font-size: .9rem;
    font-weight: 600;
    color: #7e7d7d;
    padding-top: .5rem;
}
.innerContainer{
     padding: 5rem 5rem;
}

.aboutImageContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 1.5rem;
    text-align: center;
    margin-left: 5rem;
}

.servicesVarietyContainer{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1rem;
    text-align: center;
    margin-left: 5rem;
}

.imageContainer img{
    object-fit: cover;
    max-width: 13rem;
    min-height: 18rem;
    border-radius: .3rem;
}

.featuredProducts{
    background: #2a2420;
    padding-bottom: 3rem;
}

.card{
    border-radius: .3rem;
    min-width: 15rem;
    display: flex;
    border: none;
    background: #362d27;
}

.card_image{
    width: cover;
    height: 11rem;
    border-radius: .3rem .3rem 0rem 0rem ;
    object-fit: cover;
}

.productWrapper{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    padding: 0rem 5rem;
    margin-top: -2rem;
}

.card_body{
    padding: 2rem;
}

.cardTitle, .servicesText{
   font-family: MetropolisBold;
   color: white;
   font-size: 1rem;
}
.price{
   font-family: MetropolisSemiBold;
   color: #ce6d06;
   font-size: .8rem;
   padding-top: .3rem;
}

.card_body button{
   margin-top: .8rem;
   font-size: .8rem;
   padding: .5rem 1.5rem;
}

.feature{
    font-size: 1rem;
    margin-top: -1rem;
}

.servicesText{
    font-weight: bolder;
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-bottom: .3rem;
}

.gallery-section{
    margin: 0rem 5rem;
}

div.bg-image > img:hover{
    cursor: pointer;
    transform: scale(1.1);
}

/* ------------------- contact ------------------ */
.form-container{
    margin-top: -5rem;
    padding: 0rem 18rem;
    padding-bottom: 3.5rem;
}

.form-container label{
   color: white;
   font-family: MetropolisSemiBold;
   padding-top: 1rem;
}

.form-container form input, .form-container form textarea{
    color: #ce6d06;
}

.form-container form input:hover, .form-container form input:focus, .form-container form textarea:hover, .form-container form textarea:focus{
    color:#ce6d06;
    border-color: #ce6d06;
}

.contactBtn{
    background-color: #ce6d06;
    font-family: MetropolisSemiBold;
    color: white;
}

.contactBtn:hover{
    background-color: #ce6d06;
    color: white;
    transform: scale(1.01);
}


/* ---------------- login / register forms ------------- */
.loginHeader{
   display: flex;
   justify-content: center;
   font-family: MetropolisBold;
   margin-top: -1rem;
   color: #7e7d7d;
   gap: .3rem;
}

.logOout:hover, .status:hover{
    cursor: pointer;
}



.loginHeader:hover{
    cursor: pointer;
}

.no-orders{
    text-align: center;
}

.no-orders .firstText{
    justify-content: center;
    font-family: MetropolisBold;
    font-size: 1.4rem;
    margin-top: 1rem;
    color: #7e7d7d;
}

.no-orders .secondText{
    justify-content: center;
    font-family: MetropolisExtraLight;
    font-size: 1rem;
    margin-top: -.5rem;
    color: #ce6d06;
    margin-bottom: 2rem;
}



.loginBody{
   margin-top: -.8rem;
}


.loginForm form label{
   color: #7e7d7d;
   font-family: MetropolisExtraLight;
   font-size: 1rem;
   margin-top: .8rem;
}
.loginForm input{
    color: #ce6d06;
    border: 1px solid #7e7d7d;
    font-family: MetropolisExtraLight;
    font-size: .9rem;
}
.loginForm input:hover, .loginForm input:focus{
    color: #ce6d06;
    border: 1px solid #ce6d06;
}

.actives{
    color: #ce6d06;
    /* border-bottom: 1px solid #ce6d06; */
}

.form-group span.error{
    color: red;
    font-family: MetropolisExtraLight;
    font-size: .5rem;
}

.form-group span.error{
    color: red;
    font-family: MetropolisExtraLight;
    font-size: 1rem;
  }
  
   .error-boder{
      border-color: red;
    }
  
  .form-control2{
    margin-bottom: .3rem;
  }
  
  .form-control2::placeholder{
    color: red;
  }

/* ------------------- tables ------------------ */
tr.adminTable td:hover{
    cursor: pointer;
}
.asset-inner {
    overflow-y: hidden;
    width: 100%;
}
.product-status-wrap table {
    width: 100%;
}
.product-status-wrap table th {
    padding: 20px 5px;
    vertical-align: top;
    border-top: 1px solid #e9ecef;
    color: #7e7d7d;
    font-family: MetropolisBold;
    font-size: 1rem;
}
.product-status-wrap table th {
    vertical-align: bottom;
    border-bottom: 2px solid #e9ecef;
	white-space: nowrap;
}
.product-status-wrap th, .product-status-wrap td {
    padding: 10px;
    text-align: left;
    font-size: 14px;
	color:#303030;
}
.product-status-wrap table td {
    padding: 9px 7px;
    border-top: 1px solid #e9ecef;
	white-space: nowrap;
}
.product-status-wrap.drp-lst table td {
    padding: 20px 7px;
    border-top: 1px solid #e9ecef;
}
.program-widget-bc .table.table-striped{
	margin-bottom:0px;
}

/* ------------------- footer ------------------ */
.footer{
    padding-top: 4rem;
    background: #2a2420;
}

.footerTextHeading{
    font-family: MetropolisBold;
    color: white;
    font-weight: bolder;
    font-size: 1.8rem;
}

.footer-top{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 5rem;
    padding: 0rem 4rem;
    padding-bottom: 2rem;
}

.footer-top ul li{
    list-style: none;
    margin-left: -1.5rem;
    padding-top: .5rem;
}

.footer-top ul li:hover{
    cursor: pointer;
    color:#ce6d06;
}

.footer-top ul li .links{
    color: #7e7d7d;
}

.footer-top ul li .links:hover{
    color:#ce6d06;
    border-bottom: .1rem solid #ce6d06;
}

.footer-bottom{
    background: #1c0f00;
    height: 4rem;
    margin-right: -1rem;
}
.footer-bottom p{
    color: #7e7d7d;
    font-family: MetropolisSemiBold;
    padding-top: 1.5rem;
    font-size: .8rem;
}

/* ------------------- smaller screens ------------------ */

@media screen and (max-width: 1200px) {

    /* ------------------- home ------------------ */
    .form-container{
        padding: 0rem 10rem;
    }
    .gallery-section{
        margin: 0rem 2rem;
    }
}

@media screen and (max-width: 991px) {

    /* ------------------- home ------------------ */
    .aboutImageContainer, .servicesVarietyContainer{
        padding-top: 3rem;
        margin-left: 0rem;
    }
    .footer-top{
        grid-template-columns: repeat(2, auto);
        gap: 1rem;
    }
    .form-container{
        margin-top: -3rem;
    }
}

@media screen and (max-width: 850px) {

    /* ------------------- home ------------------ */
    .productWrapper{
        grid-template-columns: repeat(2, 1fr);
    }

}

@media screen and (max-width: 800px) {

    /* ------------------- home ------------------ */
    .mainHeroSection{
        padding:  3rem;
        padding-top: 10rem;
    }
    .primaryText{
        font-size: 2rem;
    }
    .innerContainer{
        padding: 3rem;
    }
    .productWrapper{
        margin-top: -1rem;
    }
    .form-container{
        padding: 0rem 5rem;
    }
    .form-container{
        margin-top: -2.5rem;
    }

}

@media screen and (max-width: 767px) {

    /* ------------------- home ------------------ */
    .aboutImageContainer{
        grid-template-columns: repeat(2, auto);
    }
}

@media screen and (max-width: 600px) {

    /* ------------------- home ------------------ */
    .form-container{
        padding: 0rem 2rem;
    }

}

@media screen and (max-width: 595px) {

    /* ------------------- home ------------------ */
    .servicesVarietyContainer{
        grid-template-columns: repeat(1, 1fr);
    }
    .servicesText{
        font-size: 1rem;
    }
    .footer-top{
        grid-template-columns: repeat(1, auto);
        gap: 1rem;
    }
}


@media screen and (max-width: 530px) {

    /* ------------------- home ------------------ */
    .productWrapper{
        grid-template-columns: repeat(1, 1fr);
    }
    .btncenter{
        text-align: center;
    }
}

@media screen and (max-width: 500px) {

    /* ------------------- home ------------------ */
    .mainHeroSection{
        padding:  2rem;
        padding-top: 6rem;
    }
    .innerContainer{
        padding: 2rem;
        padding-top: 3rem;
    }
    .aboutImageContainer{
        grid-template-columns: repeat(1, auto);
    }
    .primaryText{
        font-size: 1.2rem;
    }
    .feature{
        font-size: .7rem;
        margin-bottom: -.01rem;
    }
    .navIcons{
        margin-top: .6rem;
        margin-bottom: .5rem;
    }
}

@media screen and (max-width: 400px) {

    /* ------------------- home ------------------ */
    .footer-bottom p{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
